.table{
    border-collapse: collapse;
    width:100%;
    border: 1px solid #000;
    &__container{
        overflow-x:auto;
    }
    &__head-row{
        cursor: pointer;
        background-color: map-get($colors, 'table-title');
    }
    &__content-row:nth-child(even){background-color: map-get($colors, 'table-content');}
    &__btn{
        background-color:transparent;
        border:none;
        color:map-get($colors, 'delete');
       &:hover{
           color: darken(map-get($colors, 'delete'), 20);
       }
    }
}