@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$colors: (
    'main': #9351b4,
    'aux': #FFF,
    'error': #ff0000,
    'delete':#ff0000,
    'disabled':lightgrey,
    'table-title': #cccccc,
    'table-content': #E6EDF7
);


$font-colors:(
    'main': #000,
    'error': #ff0000,
    'delete':#ff0000,
    'disabled': gray

);

$body-font: 'Montserrat', serif;